
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=Varela+Round&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto' ;
}

body{
    background-color: black;
    color:white;
    
}

.Left {
    width: 25vw;
    padding: 10px;
}

.Right{
    width: 75vw;
    position: relative;
}

.logo {
    display: flex;
    align-items: center;
    padding: 14px;
}

.logo p{
    font-size:1.2rem;
    font-weight: bolder;

}

.home{
    width: 22vw;
}


.home ul li{
    display: flex;
    list-style: none;
    width: 22px;
    gap: 10px;
    font-size: 1.2rem;
    font-weight: bolder;
    padding : 14px;
}
.search{
    font-weight: 100;
    color: #b3b3b3;
}

.library{
    color: #b3b3b3;
    width: 22vw; 
    margin-top: 5px;
    min-height: 67vh;
    position: relative;
}

.heading{
    display: flex;
    width: 100;
    gap: 10px;
    font-size: 12px;
    color: #b3b3b3; 
    padding: 14px 0 10px 22px;
    list-style: none;
}

.heading img{
    width: 22px;
}

.footer {
    display: flex;
    flex-wrap: wrap; 
    font-size: 12px;
    gap: 16px;
    position: absolute;
    bottom : 0;
    margin-bottom: 30px;
} 

.footer a { 
    color: #b3b3b3;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: #1f1f1f;
    border-radius: 5px;
}

.header >*{
    padding: 20px  30px;
    color:#b3b3b3;
    display : flex;
        align-items: center;
        font-size: 30px;
        gap: 10px;

}
.Right{
    margin: 11px 11px 11px 16px;
    border-radius: 5px;
}

.spotifyPlayList{
    padding: 14px;
}

.spotifyPlayList .card{
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;


}

.card img {
    width: 100%;
    object-fit: cover;
}
.card{
    margin-top: 10px;
    position: relative;
}
.card >*{
    padding-top: 10px;

}
.card h1{

}
.card p {
    font-size: 14px;
    font-weight: none;
    color: #b3b3b3;
}

.cardContainer{
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
    overflow-y: scroll;
    max-height: 66vh;

}

.play{                            
        width:25px;
        height: 25px;
        background-color: rgb(67, 244, 67); /* Green circular background */
        color: black; /* Solid black play icon */
        padding: 15px; /*Adjust for size and spacing */
        border-radius: 50%; /* Makes the box circular */
        display: inline-block; /* Ensures proper circular shape */
        font-size: 24px; /* Adjust icon size as needed */
        text-align: center; /* Center the icon */
        line-height: 1; /* Fix alignment inside the circle */
        position: absolute;
        top: 158px;
        right: 19px;
        opacity: 0;
        transition: all 1s ease-out;
        
    }
    
.signinBtn{
    width: 100px;
    height: 40px;
    background-color: black;
    color:#b3b3b3;
    font-size: 16px;
    
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
    border-radius: 20px;

}

.signinBtn:hover{
    font-size: 18px;
    font-weight: bold;
    color: white;
    


}
.loginBtn{
    width: 100px;
    height: 40px;
    font-size: 16px;
    background-color: white;
    border-radius: 20px;
    color: black;
    padding: 10px;
    cursor: pointer;
}

.loginBtn:hover{
    font-size: 18px;
    font-weight: bold;
}

.playBar{
    position: absolute;
    bottom: 00;
    width: 100%;
    height: 30px;
    padding: 10px;
    font-size: 19px;
    background-color: #1f1f1f;}

.songBtn{
    display: flex;
    justify-content: center;
    gap: 15px;
    font-size: 25px;
}





